/* navigational css */


/* menu */

menu
  {
    margin: 0;
    padding: 0;

    background-color: #654321;

  }

.site-links
  {
    margins: 0;
    padding: 0;
    display: inline-block;

  }
 .site-links .menu-item
  {
    width: 6em;
    padding: .5em, 1em;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #654321;

  }

.site-links .menu-item:hover
  {
    background-color: saddlebrown;
    color: white;
    text-decoration: underline overline;
    text-decoration-color: white;
    text-decoration-style: double;

  }

.site-links .dropdown
    {
      display: inline-block;
      width: 6em;

    }
.site-links .drop-group
  {
    display: none;
    position: absolute;
    background-color: saddlebrown;
    z-index: 5;
  }

.site-links .drop-group a
  {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

.site-links .drop-group a:hover
  {
    background-color: white;
    color: saddlebrown;
  }

.site-links .dropdown:hover .drop-group
  {
    display: block;
  }

.site-links .dropdown-item
  {
    width: 6em;
    padding: .5em 1em;
    text-align: center;
    display: block;
  }

.dropdown-item:hover
  {
    background-color: #654321;
    color: saddlebrown;
    text-decoration: underline overline;
    text-decoration-color: saddlebrown;
  }
