body
  {
    background-color: tan;
    margin: 0;
    padding: 50px;
    padding-top: 25px;
    font-size: 1.25em}
  }

.links

.text

img.align-center
  {
    display: block;
    margin: 0px auto
  }
